<template>
  <div>
    <div class="container">
      
      <div class="text-head">
        <h1>Valuable Testimonial</h1>
        <h3>See People Say About Me</h3>
      </div>
<!-- owl carousel component -->
      <carousel
        class="divv"
        items="1"
        :loop="true"
        :center="true"
        :dots="true"
        :nav="true"
        :responsive="{ 0: { items: 1, nav: false } }"
      >
        <div class="item" v-for="post in posts" :key="post">
          <div class="card testimonial-card">
            <!--Background color-->
            <div class="card-up info-color"></div>

            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img :src="post.picture.large" class="rounded-circle img-fluid" />
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="mt-1">
                <strong
                  >{{ post.name.first }} {{ post.name.last }} ,
                  {{ post.location.city }}</strong
                >
              </h4>
              <!--Description-->
              <p class="dark-grey-text text">
                Writing paragraphs takes practice, but what should students
                write about? Good paragraph writing prompts allow students to
                write about what they know and like, so their focus can be on
                the writing process and using the four essential elements.
              </p>
            </div>
          </div>
        </div>
      </carousel>
    </div>
  </div>
</template>

<script>
import carousel from "v-owl-carousel";
import axios from "axios";
export default {
  name: "HelloWorld",
  data() {
    return {
      posts: [
        {
          gender: "female",
          name: {
            title: "Mrs",
            first: "Alice",
            last: "Turner",
          },
          location: {
            street: {
              number: 8154,
              name: "Grove Road",
            },
            city: "Limerick",
            state: "Leitrim",
            country: "Ireland",
            postcode: 91809,
            coordinates: {
              latitude: "19.5340",
              longitude: "139.9485",
            },
            timezone: {
              offset: "+2:00",
              description: "Kaliningrad, South Africa",
            },
          },
          email: "alice.turner@example.com",
          login: {
            uuid: "0e78d487-e366-4bad-a7f4-40f99683fd2a",
            username: "crazyfrog141",
            password: "wrestling",
            salt: "pxASO2PB",
            md5: "75b24ae61df459680a6b2f9ac9636428",
            sha1: "a66ae4d3370c28952a83caaae485afe1d87ba0f3",
            sha256:
              "0535f095e4dff8fc05c61482654bc9922567b0a846103eff333d41cd6a34348c",
          },
          dob: {
            date: "1997-09-19T17:08:25.392Z",
            age: 24,
          },
          registered: {
            date: "2012-12-12T18:52:48.695Z",
            age: 9,
          },
          phone: "031-529-8169",
          cell: "081-112-5389",
          id: {
            name: "PPS",
            value: "3514939T",
          },
          picture: {
            large: "https://randomuser.me/api/portraits/women/59.jpg",
            medium: "https://randomuser.me/api/portraits/med/women/59.jpg",
            thumbnail: "https://randomuser.me/api/portraits/thumb/women/59.jpg",
          },
          nat: "IE",
        },
        {
          gender: "male",
          name: {
            title: "Mr",
            first: "Necati",
            last: "Nalbantoğlu",
          },
          location: {
            street: {
              number: 9700,
              name: "Mevlana Cd",
            },
            city: "Karabük",
            state: "Karaman",
            country: "Turkey",
            postcode: 28503,
            coordinates: {
              latitude: "72.6222",
              longitude: "-15.0858",
            },
            timezone: {
              offset: "-1:00",
              description: "Azores, Cape Verde Islands",
            },
          },
          email: "necati.nalbantoglu@example.com",
          login: {
            uuid: "b96fefd3-8325-422a-be55-3d7fb98e7a1f",
            username: "goldengoose289",
            password: "tinker",
            salt: "HljuiiQ7",
            md5: "e35db891211677d8519ff2dad2b94460",
            sha1: "6ef7a49b3239b9e700b5fc457a4d9c00537e30ee",
            sha256:
              "4b8a65843101385394bc9f6343187a8cce2a94be689939e23a7083073f13685c",
          },
          dob: {
            date: "1991-01-13T19:32:25.202Z",
            age: 30,
          },
          registered: {
            date: "2010-01-22T18:13:26.862Z",
            age: 11,
          },
          phone: "(755)-946-1960",
          cell: "(419)-118-0263",
          id: {
            name: "",
            value: null,
          },
          picture: {
            large: "https://randomuser.me/api/portraits/men/97.jpg",
            medium: "https://randomuser.me/api/portraits/med/men/97.jpg",
            thumbnail: "https://randomuser.me/api/portraits/thumb/men/97.jpg",
          },
          nat: "TR",
        },
      ],
    };
  },
  components: { carousel },
  props: {},
  created() {
    axios
      .get(`https://randomuser.me/api/`)
      .then((response) => {
        console.log(response);
        // this.posts = response.data.results;
      })
      .catch((e) => {
        console.log(e);
      });
  },
};
</script>
<style scoped>
.slide-carousel {
  width: 1100px;
}
.text-head {
  margin: 24px 0;
}
.text-head h1 {
  font-size: 35px;
  font-weight: 600;
}
.text-head h3 {
  font-size: 18px;
  font-weight: 100;
  color: #00000083;
}
.testimonial-card {
  background: #754ef9;
  padding: 20px;
}
.item {
  margin: 58px 10px;
}
.testimonial-card .card-up {
  height: 114%;
  overflow: hidden;
  width: 94%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 16px 39px -7px rgb(0 0 0 / 11%);
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.info-color {
  background-color: #fff !important;
}
.testimonial-card .avatar {
  width: 144px;
  margin-top: -22px;
  overflow: hidden;
  z-index: 2;
  border: 13px solid #9e82ff;
  background: #754ef9 !important;
  border-radius: 50%;
  padding: 10px;
}
.testimonial-card .avatar img {
  width: 100%;
}
.testimonial-card .card-body {
  text-align: center;
  z-index: 2;
  max-width: 669px;
  margin: 0 auto;
}
.card-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 !important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.text {
  color: #0000006b;
  margin: 28px 0 0 0;
}
.card {
  border-radius: 2px !important;
}
</style>
<style>

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #754ef9 !important;
  width: 17px;
}
.owl-theme .owl-dots .owl-dot span {
  transition: all 200ms ease !important;
}
</style>
